@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  font-family: "Noto Sans", sans-serif;
}
.container {
  width: 1230px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #212832;
  font-size: 17px;
}
.section__subtitle {
  font-size: 18px;
  color: #5e6282;
}
.section__title {
  font-size: 50px;
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-weight: 700;
}
/* .main {
  position: relative;
  left: 100px;
  background-repeat: no-repeat;
  background-image: url(../images/Decore.svg);
} */
/* Header section styles */
.header__wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}
.header__navbar {
  display: flex;
  gap: 20px;
}
.header__button {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__btn {
  padding: 10px 30px;
  background: none;
  border-radius: 3px;
  border: 1px solid #212832;
}
.eng__btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.eng > img {
  padding-bottom: 4px;
}
/* Home section styels */
.home__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 112px;
}
.home__subtitle {
  font-weight: 700;
  color: #df6951;
  font-size: 20px;
}
.home__title {
  font-size: 72px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #181e4b;
  line-height: 89px;
  letter-spacing: -4%;
}
.home__des {
  width: 400px;
  color: #5e6282;
  line-height: 30px;
}
.home__p {
  padding: 7px 0;
  display: flex;
  align-items: center;
}
.home__p > img {
  padding-top: 20px;
}
.play__button--text {
  padding-bottom: 15px;
  color: #212832;
}
.h__btn {
  margin: 30px 0;
  padding: 14px 32px;
  color: #fff;
  background: #f1a501;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.home__btn {
  position: relative;
  top: 30px;
  left: 50px;
}
.cta {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* Category section ends */
.category__top {
  text-align: center;
}
.categiry__bottom {
  padding: 20px 0;
}
.category__card {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: calc((1240px - 10) / 4);
}
.category__cards {
  width: 190px;
  height: 227px;
  text-align: center;
  background-color: #fff;
  border-radius: 36px;
  border: none;
  width: 100px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}
.category__cards:hover {
  width: 267px;
  height: 314px;
  transform: scale(1.1);
  background-color: #f7f7f7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.categiry__card > img {
  width: 112px;
  height: 102px;
}
.category__cards--img {
  width: 92px;
  height: 78px;
}
.category__cards--title {
  width: 190px;
  padding: 10px;
  font-size: 18;
  color: #1e1d4c;
}
.category__cards--des {
  width: 181px;
  color: #5e6282;
}
